body{
    padding: 90px;
    height: 100vh;
    width: 50%;
    background-color: white;
    margin: auto;
  }
  .header{
    margin-top: 1px;
      display: flex;
      justify-content: space-between;
      flex: auto; 
      align-items: center;
      align-content: center; 
      font-size: 15px; 
  }
  .header img{
      width: 150%;
  }
  .header a {
      text-decoration: none;
      color: #0D0363;
      font-weight: bold;
      margin-left: 1px;
  }
  .header nav.base-menu{
    word-spacing: 10px;      
  }
  .header nav.log {
    margin-left: 40px;
    word-spacing: 3px; 
  }
  .header a.sing{
    padding: 2px 20px;
    text-decoration: none;
    background-color: #41ECFE;
    border-radius: 5px;
  }
  ::placeholder {
    color: #0D0363;
    opacity: 0.7; 
    font-weight: bold;
  }
  .header input{
    margin-right:  10px;
    width: 20%;
    height: 10px;
    background-color: gainsboro;
    border-radius: 10px;
    border-color: white;

  }
  .content{
    margin-bottom: 1px;
    align-items: center;
    align-content: center;
    height: auto;
    display: flex;
    flex-direction:column;
    text-align: center;
  }
  .content h1 {
      font-size: 31px;
      color: #0D0363;
      margin-bottom: 1px;
  }
  .content p{
    font-size: 15px;
    color: #0D0363;
    margin-top: 1px;
  }
  .content a{
      padding: 2px 20px;
      text-decoration: none;
      color: #D98B81;
      background-color: #FCB4A8;
      border-radius: 2px;
  }
  .content img{
    width: 80%;
    height: auto;
    margin-top: 30px;
  }

